.container {
  width: 600px;
  margin: 20px;
  height: 750px;
  border: 5px;
  overflow: auto;
  background-color: rgb(54, 54, 54);
  color: aliceblue;
  position: relative;
  font-family: Impact, Charcoal, sans-serif;;
}

.playlistItem {
  color: aliceblue;
  /* display: inline-flex; */
  height: 64px;
  margin: 20px;
}

.text {
  text-align: right;
}

.image {
  float: left;
}

.bottomBanner {
  background-color: black;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Impact, Charcoal, sans-serif;
}

.spotifyLanding {
  margin: auto;
}

.createButton {
  /* margin: 10px; */
  background-color: aliceblue;
  border: none;
  color: rgb(54, 54, 54);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 16px;
}

.spotifyLanding {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
}